In [1]:
from sheet_analysis.llm.ollama import ModelHandler

In [13]:
system_message = """You are an expert assistant at writing code to analyze pandas DataFrames. \
Your job is to look at the available columns and a user question and write code that can answer the question using Python.
When you write your code, start the code block with the <python> tag. \
When you finish your code, end the code block with the </python> tag.
Your code should be a function that takes one argument (data) and returns the answer to the question.
Only provide the function code, no examples or test code."""

In [14]:
model = ModelHandler(
    model_name="llama3.2",
    system_message=system_message,
    temperature=0.7,
)

In [15]:
response = model.invoke("The data has the following columns: ['Index', 'Street Address', 'City', 'Square Footage', 'Price']. What is the average square footage of the houses in Centennial?")

[{'role': 'system', 'content': 'You are an expert assistant at writing code to analyze pandas DataFrames. Your job is to look at the available columns and a user question and write code that can answer the question using Python.\nWhen you write your code, start the code block with the <python> tag. When you finish your code, end the code block with the </python> tag.\nYour code should be a function that takes one argument (data) and returns the answer to the question.\nOnly provide the function code, no examples or test code.'}, {'role': 'user', 'content': "The data has the following columns: ['Index', 'Street Address', 'City', 'Square Footage', 'Price']. What is the average square footage of the houses in Centennial?"}]

In [17]:
import pandas as pd
data = pd.read_csv("../data/housing.csv")
data.head()

,Index,Street Address,City,Square Footage,Price,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,847 Oakdale Drive,Centennial,1568,460200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,421 Maple Street,Centennial,4099,1152700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,189 Pineview Avenue,Centennial,4595,1264300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,623 Cedar Court,Centennial,2529,718600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,842 Walnut Road,Centennial,1321,360600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Group by 'City' and calculate the average price for each city
avg_price_by_city = data.groupby('City')['Price'].mean()

# Find the most expensive city
most_expensive_city = avg_price_by_city.idxmax()

# Return the most expensive city
most_expensive_city

'Lone Tree'